<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body style="font-family:Open-Sans">
<div style="width:80%;margin-left:10%">
  <p style="font-family:Garamond,serif"> Welcome to your daily briefing. Here's what you need to know for the day. The temperature today will range from {{ daily-high }}&#8457; to {{ daily-low }}&#8457; </p>
  {{#if rain}}
    <p style="font-family:Garamond,serif"> You might want to bring an umbrella today. </p>
  {{/if}}
  <h1 style="color:13305e; font-family:Open-Sans,Sans-Serif">{{ source1 }}</h1>
  <hr>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{ l1-1 }}">
      <h3>{{ h1-1 }}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{ b1-1 }} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l1-2}}">
      <h3>{{h1-2}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b1-2}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l1-3}}">
      <h3>{{h1-3}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b1-3}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l1-4}}">
      <h3>{{h1-4}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b1-4}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l1-5}}">
      <h3>{{h1-5}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b1-5}} </div>
      <br><br>
  <h1 style="color:13305e; font-family:Open-Sans,Sans-Serif"> {{ source2 }}</h1>
  <hr>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{ l2-1 }}">
      <h3>{{ h2-1 }}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{ b2-1 }} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l2-2}}">
      <h3>{{h2-2}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b2-2}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l2-3}}">
      <h3>{{h2-3}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b2-3}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l2-4}}">
      <h3>{{h2-4}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b2-4}} </div>
      <br><br>
    <a style="color:13305e; font-family:Open-Sans,Sans-Serif" href="{{l2-5}}">
      <h3>{{h2-5}}</h3>
    </a>
      <div style="font-family:Garamond,serif"> {{b2-5}} </div>
      <br><br>
</div>

</body>
</html>